body {
 background: url("https://ie1-gfebf.cdnppb.net/mexchangeblackjack/turbo/17/assets/gameView/tableBackground.png?v17") no-repeat center fixed;
 background-size: cover;
 max-height: 100%;
 max-width: 100%;
 	
  }